* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #98c1d9 !important;
}
#container {
    display: table;
    height: 100%; 
    width:100%; 
    font-size: 0;
}
#left, #middle, #right, #far-right {
    display: inline-block; 
    *display: inline; 
    zoom: 1; 
    vertical-align: top; 
    font-size: 12px;
    text-align: center;
}
/* Navbar */
nav {
    background-color: #98c1d9;
}
/* Refactor navbar items */
.navbar-nav{
    margin-left: 85%;
}

/* Results */
.results{
    margin-top:13%;
}

/* Search */
.search{
    margin-top: 10%;
    margin-left:40%;
    
}
  
  /* When the screen is less than 600px wide*/
@media screen and (max-width: 600px) {
    div #search-text {
        width:200;
    }
    div #search-text {
        font-size: 11px;
    }
}

.column {
    float: left;
    width: 25%;
    height: 100%;
}

#left {
    background-color: lightgreen;
}
#middle {
    background-color: rgb(149, 149, 149);
}
#right {
    background-color: rgb(246, 157, 172);
}
#far-right {
    background-color: rgb(140, 210, 253);
}
.content h2{
    padding-top: 2%;
    padding-bottom: 2%;
}
#left h2{
    background-color: rgb(103, 195, 103);
}
#middle h2{
    background-color: rgb(114, 114, 114);
}
#right h2{
    background-color: rgb(224, 133, 148);
}
#far-right h2{
    background-color: rgb(104, 176, 221);
}
.section {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
li {
    list-style: none;
}
.section a {
    text-decoration: none;
    color: black;
}
.button {
    text-align: center;
}
input {
    width: 30%;
}
div #search-text {
    width: 100%;
    margin-left: -17%;
    margin-bottom: 5%;
    margin-top : -5%;
}
.nav-item {
    width: 100%;
}

.list {
    height: 200px;
    width: 200px;
    background-color: #ccc;
    margin-left: 26%;
    margin-top: 50px;
}
